.body {
  background-color: rgb(246, 240, 240);
  position: center;
  width: 500pt;
  height: 500pt;
  margin-left: 600pt;
  border-radius: 25px;
  padding: 150px;
}
.directions {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
.numbers {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
#btns {
  background-color: rgb(195, 156, 195);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}
.close {
  color: black;
  margin-left: 1000pt;
  border: none;
  background-color: none;
}
