.Card {
  position: center;
  border: 2px solid black;
  width: 600px;
  height: 1400px;
  margin: 100px;
  margin-left: 900px;
  text-align: center;
}
.skill-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.avatar {
  width: 100%;
  display: block;
}
